File_Name	File_Type	Header_Lines	Divided_By_Entities	Sum_Needed	Repeat_Periodical_Values	Periodical_Columns_Width	Header_Columns	Header_Column1_Width	Header_Column2_Width	Header_Column3_Width												
dese05co.dat	Periodical	4	FALSE	TRUE	FALSE	6	2	4	4													
deme05co.dat	Periodical	4	FALSE	TRUE	FALSE	6	2	4	4													
dese05ec.dat	Periodical	4	FALSE	FALSE	FALSE	6	2	4	4													
deme05ec.dat	Periodical	4	FALSE	TRUE	FALSE	6	2	4	4													
hinflw_w.dat	Periodical	0	FALSE	FALSE	FALSE	7	1	7														
hinflw.dat	Periodical	0	FALSE	FALSE	FALSE	7	1	7														
pmhiseco.dat	Periodical	2	TRUE	FALSE	FALSE	8	1	4														
pmhimeco.dat	Periodical	2	TRUE	FALSE	FALSE	8	1	4														
pmtrseco.dat	Periodical	2	TRUE	FALSE	FALSE	8	1	4														
pmtrmeco.dat	Periodical	2	TRUE	FALSE	FALSE	8	1	4														
vminseco.dat	Periodical	0	TRUE	FALSE	FALSE	8	1	4														
vminmeco.dat	Periodical	0	TRUE	FALSE	FALSE	8	1	4														
vespseco.dat	Periodical	0	TRUE	FALSE	FALSE	8	1	4														
vespmeco.dat	Periodical	0	TRUE	FALSE	FALSE	8	1	4														
ccombuco.dat	Basic	1	FALSE	FALSE	FALSE	0	7	4	13	8	9	7	7	8								
combseco.dat	Periodical	0	TRUE	FALSE	TRUE	8	1	4														
combmeco.dat	Periodical	0	TRUE	FALSE	TRUE	8	1	4														
furaseco.dat	Periodical	0	TRUE	FALSE	FALSE	8	1	4														
fuecntco.dat	Basic	1	FALSE	FALSE	FALSE	0	14	4	13	5	9	5	11	11	5	9	9	9	9	9	9	
fccsseco.dat	Periodical	0	TRUE	FALSE	TRUE	8	1	4														
fccsmeco.dat	Periodical	0	TRUE	FALSE	TRUE	8	1	4														
ccse05co.dat	Periodical	0	TRUE	FALSE	FALSE	8	2	4	4													
ccme05co.dat	Periodical	0	TRUE	FALSE	FALSE	8	2	4	4													
chidroco.dat	Basic	1	FALSE	FALSE	FALSE	0	15	4	13	5	5	5	5	5	8	8	8	8	8	8	8	709
cariseco.dat	Periodical	2	FALSE	FALSE	FALSE	8	1	4														
carimeco.dat	Periodical	2	FALSE	FALSE	FALSE	8	1	4														
ctermico.dat	Basic	2	FALSE	FALSE	FALSE	0	15	4	13	5	5	8	8	8	8	8	8	5	5	8	8	108
